
CollectedData/.directory
CollectedData/
lighning_logs_old/
.ipynb_checkpoints
lightning_logs_old/version_9/hparams.yaml
lightning_logs_old/version_9/events.out.tfevents.1610073097.DESKTOP-T6UP3CE.10352.7
lightning_logs_old/version_9/checkpoints/epoch=3.ckpt
lightning_logs_old/version_8/hparams.yaml
lightning_logs_old/version_8/events.out.tfevents.1610072948.DESKTOP-T6UP3CE.10352.6
lightning_logs_old/version_8/checkpoints/epoch=580.ckpt
lightning_logs_old/version_7/hparams.yaml
lightning_logs_old/version_7/events.out.tfevents.1610072929.DESKTOP-T6UP3CE.10352.5
lightning_logs_old/version_6/hparams.yaml
lightning_logs_old/version_6/events.out.tfevents.1610072864.DESKTOP-T6UP3CE.10352.4
lightning_logs_old/version_6/checkpoints/epoch=3.ckpt
lightning_logs_old/version_5/hparams.yaml
lightning_logs_old/version_5/events.out.tfevents.1610072756.DESKTOP-T6UP3CE.10352.3
lightning_logs_old/version_5/checkpoints/epoch=1.ckpt
lightning_logs_old/version_4/hparams.yaml
lightning_logs_old/version_4/events.out.tfevents.1610072733.DESKTOP-T6UP3CE.10352.2
lightning_logs_old/version_4/checkpoints/epoch=0.ckpt
lightning_logs_old/version_34/hparams.yaml
lightning_logs_old/version_34/events.out.tfevents.1610081767.DESKTOP-T6UP3CE.4912.11
lightning_logs_old/version_34/checkpoints/epoch=25.ckpt
lightning_logs_old/version_33/hparams.yaml
lightning_logs_old/version_33/events.out.tfevents.1610079386.DESKTOP-T6UP3CE.4912.2
lightning_logs_old/version_33/checkpoints/epoch=395.ckpt
lightning_logs_old/version_32/hparams.yaml
lightning_logs_old/version_32/events.out.tfevents.1610079381.DESKTOP-T6UP3CE.4912.1
lightning_logs_old/version_31/hparams.yaml
lightning_logs_old/version_31/events.out.tfevents.1610079347.DESKTOP-T6UP3CE.4912.0
lightning_logs_old/version_30/hparams.yaml
lightning_logs_old/version_30/events.out.tfevents.1610075540.DESKTOP-T6UP3CE.10352.28
lightning_logs_old/version_30/checkpoints/epoch=869.ckpt
lightning_logs_old/version_3/hparams.yaml
lightning_logs_old/version_3/events.out.tfevents.1610072680.DESKTOP-T6UP3CE.10352.1
lightning_logs_old/version_29/hparams.yaml
lightning_logs_old/version_29/events.out.tfevents.1610075329.DESKTOP-T6UP3CE.10352.27
lightning_logs_old/version_29/checkpoints/epoch=62.ckpt
lightning_logs_old/version_28/hparams.yaml
lightning_logs_old/version_28/events.out.tfevents.1610075307.DESKTOP-T6UP3CE.10352.26
lightning_logs_old/version_28/checkpoints/epoch=2.ckpt
lightning_logs_old/version_27/hparams.yaml
lightning_logs_old/version_27/events.out.tfevents.1610075266.DESKTOP-T6UP3CE.10352.25
lightning_logs_old/version_27/checkpoints/epoch=18.ckpt
lightning_logs_old/version_26/hparams.yaml
lightning_logs_old/version_26/events.out.tfevents.1610075230.DESKTOP-T6UP3CE.10352.24
lightning_logs_old/version_26/checkpoints/epoch=17.ckpt
lightning_logs_old/version_25/hparams.yaml
lightning_logs_old/version_25/events.out.tfevents.1610075203.DESKTOP-T6UP3CE.10352.23
lightning_logs_old/version_25/checkpoints/epoch=10.ckpt
lightning_logs_old/version_24/hparams.yaml
lightning_logs_old/version_24/events.out.tfevents.1610075191.DESKTOP-T6UP3CE.10352.22
lightning_logs_old/version_24/checkpoints/epoch=2.ckpt
lightning_logs_old/version_23/hparams.yaml
lightning_logs_old/version_23/events.out.tfevents.1610075154.DESKTOP-T6UP3CE.10352.21
lightning_logs_old/version_23/checkpoints/epoch=16.ckpt
lightning_logs_old/version_22/hparams.yaml
lightning_logs_old/version_22/events.out.tfevents.1610075081.DESKTOP-T6UP3CE.10352.20
lightning_logs_old/version_22/checkpoints/epoch=3.ckpt
lightning_logs_old/version_21/hparams.yaml
lightning_logs_old/version_21/events.out.tfevents.1610074753.DESKTOP-T6UP3CE.10352.19
lightning_logs_old/version_21/checkpoints/epoch=40.ckpt
lightning_logs_old/version_20/hparams.yaml
lightning_logs_old/version_20/events.out.tfevents.1610074674.DESKTOP-T6UP3CE.10352.18
lightning_logs_old/version_20/checkpoints/epoch=8.ckpt
lightning_logs_old/version_2/hparams.yaml
lightning_logs_old/version_2/events.out.tfevents.1610072646.DESKTOP-T6UP3CE.10352.0
lightning_logs_old/version_19/hparams.yaml
lightning_logs_old/version_19/events.out.tfevents.1610074305.DESKTOP-T6UP3CE.10352.17
lightning_logs_old/version_19/checkpoints/epoch=3.ckpt
lightning_logs_old/version_18/hparams.yaml
lightning_logs_old/version_18/events.out.tfevents.1610073630.DESKTOP-T6UP3CE.10352.16
lightning_logs_old/version_18/checkpoints/epoch=212.ckpt
lightning_logs_old/version_17/hparams.yaml
lightning_logs_old/version_17/events.out.tfevents.1610073614.DESKTOP-T6UP3CE.10352.15
lightning_logs_old/version_17/checkpoints/epoch=3.ckpt
lightning_logs_old/version_16/hparams.yaml
lightning_logs_old/version_16/events.out.tfevents.1610073575.DESKTOP-T6UP3CE.10352.14
lightning_logs_old/version_16/checkpoints/epoch=31.ckpt
lightning_logs_old/version_15/hparams.yaml
lightning_logs_old/version_15/events.out.tfevents.1610073522.DESKTOP-T6UP3CE.10352.13
lightning_logs_old/version_15/checkpoints/epoch=65.ckpt
lightning_logs_old/version_14/hparams.yaml
lightning_logs_old/version_14/events.out.tfevents.1610073475.DESKTOP-T6UP3CE.10352.12
lightning_logs_old/version_14/checkpoints/epoch=61.ckpt
lightning_logs_old/version_13/hparams.yaml
lightning_logs_old/version_13/events.out.tfevents.1610073311.DESKTOP-T6UP3CE.10352.11
lightning_logs_old/version_13/checkpoints/epoch=228.ckpt
lightning_logs_old/version_12/hparams.yaml
lightning_logs_old/version_12/events.out.tfevents.1610073300.DESKTOP-T6UP3CE.10352.10
lightning_logs_old/version_12/checkpoints/epoch=15.ckpt
lightning_logs_old/version_11/hparams.yaml
lightning_logs_old/version_11/events.out.tfevents.1610073284.DESKTOP-T6UP3CE.10352.9
lightning_logs_old/version_11/checkpoints/epoch=29.ckpt
lightning_logs_old/version_10/hparams.yaml
lightning_logs_old/version_10/events.out.tfevents.1610073116.DESKTOP-T6UP3CE.10352.8
lightning_logs_old/version_10/checkpoints/epoch=500.ckpt
lightning_logs_old/version_1/hparams.yaml
lightning_logs_old/version_1/events.out.tfevents.1609880494.DESKTOP-T6UP3CE.12656.0
lightning_logs_old/version_1/checkpoints/epoch=98.ckpt
lightning_logs_old/version_0/hparams.yaml
lightning_logs_old/version_0/events.out.tfevents.1609879013.DESKTOP-T6UP3CE.12408.0
lightning_logs_old/version_0/checkpoints/epoch=44.ckpt
lightning_logs/version_4/hparams.yaml
lightning_logs/version_4/events.out.tfevents.1610083069.DESKTOP-T6UP3CE.18300.3
lightning_logs/version_4/checkpoints/epoch=951.ckpt
lightning_logs/version_39/hparams.yaml
lightning_logs/version_39/events.out.tfevents.1610081046.DESKTOP-T6UP3CE.4912.8
lightning_logs/version_30/hparams.yaml
lightning_logs/version_30/events.out.tfevents.1610075540.DESKTOP-T6UP3CE.10352.28
lightning_logs/version_30/checkpoints/epoch=869.ckpt
lightning_logs/version_3/hparams.yaml
lightning_logs/version_3/events.out.tfevents.1610083007.DESKTOP-T6UP3CE.18300.2
lightning_logs/version_3/checkpoints/epoch=3.ckpt
lightning_logs/version_2/hparams.yaml
lightning_logs/version_2/events.out.tfevents.1610082417.DESKTOP-T6UP3CE.18300.1
lightning_logs/version_2/checkpoints/epoch=267.ckpt
lightning_logs/version_1/hparams.yaml
lightning_logs/version_1/events.out.tfevents.1610082273.DESKTOP-T6UP3CE.18300.0
lightning_logs/version_1/checkpoints/epoch=31.ckpt
lightning_logs/version_0/hparams.yaml
lightning_logs/version_0/events.out.tfevents.1610081856.DESKTOP-T6UP3CE.4912.12
lightning_logs/version_0/checkpoints/epoch=147.ckpt
MNIST/processed/test.pt
MNIST/processed/training.pt
MNIST/raw/t10k-images-idx3-ubyte
MNIST/raw/t10k-images-idx3-ubyte.gz
MNIST/raw/t10k-labels-idx1-ubyte
MNIST/raw/t10k-labels-idx1-ubyte.gz
MNIST/raw/train-images-idx3-ubyte
MNIST/raw/train-images-idx3-ubyte.gz
MNIST/raw/train-labels-idx1-ubyte
MNIST/raw/train-labels-idx1-ubyte.gz
*.pyc
